.container {
  display: flex;
  gap: 8px;
  margin-left: auto;
  justify-content: end;
  width: calc(40% + 80px);
}

.search,
.sort {
  background: #ffffff;
  color: #000000;
  border-radius: 999999px;
  padding: 4px 12px;
  border: none;
  font-size: 1rem;
  line-height: 1;
}

.search {
  width: 100%;
}
.search::placeholder,
.search::-webkit-input-placeholder,
.search:-moz-placeholder,
.search::-moz-placeholder,
.search:-ms-input-placeholder {
  color: #444444;
  font-style: italic;
}

.sort {
  width: fit-content;
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: end;
  }
}
