.app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* max-width: 1400px; */
  margin: 0 auto;
}

.app-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1.5rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .app-grid {
    grid-template-columns: 1fr;
  }
}

